language: python
python:
  - '2.7'
sudo: required
env:
  global:
  - IMAGE_NAME=inspire
  - IMAGE_NAME_REMOTE=inspirehep/inspire
  - secure: scuQmQEEWdDqKGnvzGmXUOvdh/xSylzBfXown2DjxIP9ztXNlFcT4wheddk8m4+FV0cNL4QK3HFRhaMZ0dYjPnWthm8AzeqKB7e2IwgbCHtPkeWBaZZlIMoAykpcdJSYh0yxroR5FlObdylZ62+7A1y3ypClucj6u+1zxe6PSmDsR/lbu/5K1LLchiTHuKaQ0KsxeFCEh/xd3HuVwvw1WdSAaKa2RfQ9HzpGhWd+dNo1i814NifborY1TkHwfWBIHLcs7cZp4AdzC5j0EFgRArIIPStukEZmP+bnwPBhO2aCql8Csjj5Cb3eKMENHE5Ltrn4efsgy750UyhnfXUHN1MXcCvW2aL8hzj2PVgvYlLgRDY04VDZWCAfGvCYEDVQFvCR0Q9Z/BvIInZz8Dz+i+MKAY1AKG4+sYpnjj6gQXA1cg+CBLVBraVLO+1JFnLrynxnF0q1PSE+gMWCwDQvCkw7cV1M4flk/Jp1MY0egIJJPU6rMkaWLf2+XjKL8ey9Yw8FB5KhKH+1piBzSa33AQUa3TcmtzXLnOKq8Xs3T90C6wO9eokKetoc40DKCy8qgo6Z9LwE9wNtRi8uEVjHnLHVOe6+XUeraRhAdLwd8s+e+ce8eo2/8qwlC4xLOWy/+8b7NzuyUowW2x8+rw9GLFQcJ5JQFXUEjrbcguGioGM=
  - secure: YNudymShAnREq+PdX98zQ0ZEGEcRrWEvIJHst95Sz+9f/4K/QTzo9WmInPOlgycGb5FPcbzPRChRHtNT/EJVGI37YQsriro8V+Eo7wtmY6J2XbX1cEaYpS9j4MLCaURb99z0IDgXRos/Oi5pgZogQmbIzDpdfZgFpbXafxJMwWrmT9lesVqPlCFCoRq7efS5dcDQZkCafsH1LOos/gVAv3eC6MfBDVitiBNaQtppKd+U0zC6hxNVpeGsbFPgHwZl799y9c+K5JHlnYxSkCiayI0EsoZ/mDTo3LQWwLSy8365N0ROcGYsXfPKSnANbH9McsVPQR2/32LW9+7r/oOcJPVxJDuMlcFQ5S/gmhvrUIKnoOhvmpMpujJsJAUiUhjZ9dbfKX5uCiO3cMwHxsKpJ6yefsTt2f1GRi9WcKL8Tf6kWFl1JieYhbaKbcV9GtOt+ZARbTYZGAJRu3VsrM5rNIp7rY+z680PK7uPh5m1mgQwPk+vv5/6x/bfHslq2KXWX9OkjSaIVTzdY3yQiU2r+elBQxcsyWs14BrEjHrHJ880gaJgjrj3Me4WE8zuSyxuVtEkzzRTkwEhVIsfOv9axgqxLqtmmVpAOQUtepZs9b078xUEhmBV9J1oUKGn04lxpLtNbYFJUjYYxet3ySBU2ztsnDpBFKTR/34SaCXgfjQ=
  - secure: H/TszxA4t5rKhMWTIPpD9d2eoAmFdBtCf8BMJDPhj7bo3rfKy7BFyO4yOATCHUqRQf56BfZUbjz+PTRSUO3HXJqDRgZvOmLyDQouLIPIxDCPGW8g+UW14L50ZpZbo2QBxKPep+xgXgZSmUpvy/u3+llQ0iiyty+itQy8mkNOKdwq+OXNr25sFb2biqnJvmW6GoAl7zYbVsDenb/iJpgYnCXTnzp+EiXUOkq/2HfaF5nm+EeLy6Sgq1Ksd+F3tQCcXo5aULRi+uUDmTNfBRVik40twrqRzmQz9Lu5Z8FsaaMgIl56kDkLgCofqiGtugHRbrdNvKayue7lc4B+RfcjcNLbhtKx8nRjQYR6iIp3/XucFM9rEaROd5Zclv6Z+BXopVcQCNfCuoyola3G5ere/sorOED8VFeGPhQDI9QvCiKsg7u8C6UZr6by/diT2jeoAWR0PLJCR3PL1A7IWP+JLukrXgrwKP11Mkdkd8dZxfh7UoEuLS6dMFOK3oGaQCFdI0DVA1pL1Xb4CiDM1zr9P9WGQMJCuH35MIVA/bEeNa2i5J+7jrttrbNnzuBVJFk954zqKF0u7zs4zKBKf5rYyJ8ZOYmhIDibZzJGZW62SbujwB8BbvN6JUNibTRdvGcWZsObIMOBqtrcwn6WofM931Bs4ZOWciqwftajk8fmGK4=
cache:
- docker
services:
- docker
script:
- docker login --password=$DOCKER_PASSWORD --email=$DOCKER_EMAIL --username=$DOCKER_USERNAME
- docker build -t $IMAGE_NAME-deps -f dockerfile-deps .
- docker tag -f $IMAGE_NAME-deps $IMAGE_NAME_REMOTE:deps
- docker push $IMAGE_NAME_REMOTE:deps
- docker build -t $IMAGE_NAME-prod -f dockerfile-prod .
- docker tag -f $IMAGE_NAME-prod $IMAGE_NAME_REMOTE:prod
- docker push $IMAGE_NAME_REMOTE:prod
